<footer>
    <section class="footer-main">
        <div class="design-shop flex1">
            <h2>The Design Shop</h2>
            <p>
                Carefully curated online design store, founded and designed by <a href="https://dribbble.com/rubysoho"
                    target="_blank"><span><strong>Ruby
                            Bacanovic</strong></span></a>
            </p>
        </div>
        <div class="contact flex2">
            <h2>Contact</h2>
            <p><a href="mailto:someone@yoursite.com?subject=RUF-MICH-AN!"><span>Email</span></a></p>
            <p>Work with us</p>
        </div>
        <div class="newsletter flex3">
            <h2>Newsletter</h2>
            <p>Click here to <a href="https://dribbble.com/"
                    target="_blank"><span><strong>subscribe.</strong></span></a><br>
                <span>Don't worry.</span> We hate spam too.
            </p>
        </div>
        <div class="find-us flex4">
            <h2>Find Us Here</h2>
            <p>
                <a href="#" target="_blank"><span>Facebook</span></a><br>
                <a href="#" target="_blank"><span>Instagram</span></a><br>
                <a href="#" target="_blank"><span>Twitter</span></a>
            </p>
        </div>
    </section>
    <div class="copy-right">
        <h3>©2020 The Design Shop &nbsp; • &nbsp; The Design Blog</h3>
    </div>
    <script src="assets/js/main.js"></script>
    </body>

    </html>