<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header class="main-header">
        <nav>
            <h1 id="logo"><span><a href="/">The Design Shop</a></span></h1>
            <ul class="nav-links">
                <li><a href="#">Weekly Recommendations</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">T D B</a></li>
            </ul>
            <div class="burger">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </div>
        </nav>
        <!-- <nav>
            <ul>
                <li><a href="/add">Add Something new formular</a></li>
                <li><a href="/add-new">Add Something new</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/single">Single Pic</a></li>
            </ul>
        </nav> -->
    </header>